# Allow list style .gitignore
# root
/*
!.gitignore
!README.md
!LICENSE.md
!CONTRIBUTING.md
!poetry.lock
!pyproject.toml
!mkdocs.yml
!Makefile

# hades/
!hades/
hades/*
!hades/__init__.py
!hades/visualisation.py

# hades/core
!hades/core
hades/core/*
!hades/core/__init__.py
!hades/core/event.py
!hades/core/process.py
!hades/core/hades.py
!hades/logging.py

# hades/time
!hades/time
hades/time/*
!hades/time/__init__.py
!hades/time/day_steps.py
!hades/time/event.py
!hades/time/logging.py
!hades/time/process.py

# examples

!examples/
examples/*
!examples/__init__.py
!examples/battery_charging_station.py
!examples/boids.py
!examples/readme_usage.py
!examples/multi_agent_llm_storytelling/
examples/multi_agent_llm_storytelling/*
!examples/multi_agent_llm_storytelling/__init__.py
!examples/multi_agent_llm_storytelling/events.py
!examples/multi_agent_llm_storytelling/processes.py
!examples/multi_agent_llm_storytelling/prompts.py
!examples/multi_agent_llm_storytelling/simulation.py
!examples/multi_agent_llm_storytelling/utilities.py
!examples/multi_agent_llm_storytelling/output.txt

# tests
!tests/
tests/*
!tests/__init__.py
!tests/test_hades.py
!tests/test_hades_performance.py
!tests/test_event.py
!tests/test_concurrency.py
!tests/test_logging.py
!tests/test_process.py

# tests/examples
!tests/examples/
tests/examples/*
!tests/examples/test_battery_charging_station.py
!tests/examples/test_readme_usage.py

# tests/time
!tests/time/
tests/time/*
!tests/time/__init__.py
!tests/time/test_day_steps.py
!tests/time/test_logging.py
!tests/time/test_process.py
!tests/time/test_event.py

# docs
!docs/
docs/*
!docs/*.md

# docs/examples
!docs/examples
